{% extends "shopit/base.html" %}
{% load i18n cms_tags sekizai_tags shop_tags shopit_tags %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
  <p>{{ product.price }}</p>
  <p>{{ product.description|safe }}</p>

  {# Display attribute choices for a group product. #}
  {% if product.is_group %}
    <form id="attributes">
      {% for attr in product.get_attribute_choices.values %}
        <div>
          <label for="id_{{ attr.code }}">{{ attr.name }}</label>
          <select id="id_{{ attr.code }}" name="{{ attr.code }}">
            {% for option in attr.choices %}
              <option value="{{ option.file|default:option.value }}">{{ option }}</option>
            {% endfor %}
          </select>
        </div>
      {% endfor %}
    </form>
    <p id="variant">{% trans "Not available." %}</p>
  {% endif %}

  {% add_to_cart watch=True %}

  <div>{% render_placeholder product.content %}</div>

  {% addtoblock "js" %}
    <script>
      (function ($) {
        'use strict';

        var PRODUCT = $.parseJSON('{{ data.product|rest_json|escapejs }}');

        $(document).ready(function () {
          var $addToCart = $('.add-to-cart');
          var $attributes = $('#attributes');

          var selectVariant = function () {
            var formData = $attributes.serializeArray();
            var variantExists = false;

            $.each(PRODUCT.variants, function (key, variant) {
              var valid = true;

              $.each(formData, function (key, option) {
                if (variant.attributes[option.name.replace('-', '_')].value !== option.value) { valid = false; }
              });

              if (valid) {
                $addToCart.trigger('setProduct', [variant]);
                variantExists = true;

                // Populate DOM with variant data here.
                $('#variant').text(variant.name +' ('+ variant.price +')');
                return false;
              }
            });

            if (!variantExists) {
              $addToCart.trigger('setProduct', [PRODUCT]);
              $('#variant').text('{% trans "Not available." %}');
            }
          };

          if (PRODUCT.is_group && PRODUCT.variants) {
            selectVariant();
            $attributes.find('select').on('change', selectVariant);
          } else { $addToCart.trigger('setProduct', [PRODUCT]); }
        });

      })(jQuery);
    </script>
  {% endaddtoblock %}
{% endblock %}
