{% extends "shopit/base.html" %}
{% load i18n shopit_tags %}

{% block title %}{% trans "Products" %}{% endblock %}

{% block content %}
  {# Filter by attributes #}
  {% get_attributes as attributes %}
  {% if attributes %}
    {% for attr in attributes %}
      <h4>{{ attr }}</h4>
      <p>
        {% for choice in attr.get_choices %}
          <a href="?{% query_transform attr.code choice.value %}">{{ choice }}</a>{% if not forloop.last %} | {% endif %}
        {% endfor %}
      </p>
    {% endfor %}
  {% endif %}

  {# Filter by price #}
  {% get_price_steps 3 as price_steps %}

  {% if price_steps %}
    <h4>{% trans "Price from" %}</h4>
    <p>
      {% for step in price_steps %}
        <a href="?{% query_transform 'price-from' step.as_decimal %}">{{ step }}</a>{% if not forloop.last %} | {% endif %}
      {% endfor %}
    </p>
    <h4>{% trans "Price to" %}</h4>
    <p>
      {% for step in price_steps %}
        <a href="?{% query_transform 'price-to' step.as_decimal %}">{{ step }}</a>{% if not forloop.last %} | {% endif %}
      {% endfor %}
    </p>
  {% endif %}

  <ul>
    {% for product in product_list %}
      <li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
    {% empty %}
      <p>{% trans "No products." %}</p>
    {% endfor %}
  </ul>
{% endblock %}
