{% load cms_tags sekizai_tags menu_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% page_attribute "page_title" %}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  {% render_block "css" %}

  <style>
    /* Hide forms initially, use jquery to transform them into bootstrap format. */
    form { display: none; }
  </style>
</head>
<body>
  {% cms_toolbar %}

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">Shopit</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% show_menu 0 1 1 1 %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  {% block base_content %}{% endblock %}

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  {% render_block "js" %}

  {% comment %}
  Dirty fix to get form fields to look nicer for now.
  This is only to display the example project with bootstrap forms without
  requiring an extra lib in Shopit. If you want to use bootstrap in your
  project beyond this example, you should replace all instances
  of '{{ form.as_p }}' in Shopit's default templates.
  {% endcomment %}
  <script>
    $(document).ready(function () {
      $('textarea,select').addClass('form-control');
      $('label').addClass('form-control-label');

      $('input').each(function () {
        var $input = $(this);
        var type = $input.attr('type');

        if (type === 'checkbox') {
          var $label = $input.prev();
          $label.addClass('form-check-label');
          $label.text($label.text().slice(0, -1));
          $input.detach().addClass('form-check-input').css('position', 'absolute').prependTo($label);
        } else if (type === 'radio') {
          var $label = $input.parent();
          $input.addClass('form-check-input');
          $label.addClass('form-check-label');
        } else if (type !== 'hidden') {
          $input.addClass('form-control');
        }
      });

      $('form').show();
    });
  </script>
</body>
</html>
