{% load cms_tags sekizai_tags menu_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% page_attribute "page_title" %}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  {% render_block "css" %}
</head>
<body>
  {% cms_toolbar %}
  <nav>
    <ul>{% show_menu %}</ul>
  </nav>

  <main>
    {% block base_content %}
    {% endblock %}
  </main>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  {% render_block "js" %}
</body>
</html>
